@model gestionhotel.Models.Fidelite

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Fidelite</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NiveauFidelite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NiveauFidelite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OffreFidelite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OffreFidelite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PointsFidelite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PointsFidelite)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FideliteId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
