@model gestionhotel.Models.Salle

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Salle</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CapaciteSalle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CapaciteSalle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EquipementSalle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EquipementSalle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomSalle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomSalle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatutSalle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatutSalle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TarifSalle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TarifSalle)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SalleId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
